# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.greyatom-tree-view-view .list-tree.full-menu': [
      { label: 'Add File', command: 'greyatom-tree-view:add-file' },
      { label: 'Add Folder', command: 'greyatom-tree-view:add-folder' },
      { label: 'Refresh', command: 'greyatom-tree-view:refresh-selected' },
      { label: 'Rename', command: 'greyatom-tree-view:move-selected' },
      { label: 'Delete', command: 'greyatom-tree-view:delete-selected' },
    ]

'atom-workspace': [{ label: 'Help', command: 'application:open-documentation' }]
'atom-text-editor': [{
  label: 'History',
  submenu: [
    { label: 'Undo', command:'core:undo' }
    { label: 'Redo', command:'core:redo' }
  ]
}]
